
@{
    ViewData["Title"] = "Projects";
}

<!-- blog section start -->
<div class="blog_section layout_padding ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="blog_taital">My <span class="blog_taital_1">Projects</span></h1>
                <p class="blog_text">I have successfully developed and contributed to diverse projects, including ERP systems, e-commerce platforms, and AI-driven applications. Notable works include a React Native ToDo app with real-time Firebase integration and research-driven solutions like AI-based disease detection and federated learning for breast cancer classification. My projects blend innovation and practicality, tailored to solve real-world problems effectively.</p>
            </div>
        </div>
    </div>
    <div class="blog_section_2">


        @model List<list_project>

        <div class="container">
            <div class="row">
                @foreach (var project in Model)
                {
                    <div class="col-md-3" style="min-height:500px;">
                        <div class="blog_box">
                            <div class="blog_img">
                                <!-- Display the heading and title dynamically -->
                                <h3 class="date_text" style="font-weight:bold; text-align:center;">@project.heading</h3>
                                <h3 style="font-weight:bold; text-align:center; padding:41px;">@project.title</h3>
                            </div>
                            <!-- Display the details dynamically -->
                            <p style="min-height:100px;">@project.details</p>
                            <div class="readmore_bt_1" style="background-color:#f5c729 !important">
                                <!-- Use the 'atn' as the route parameter -->
                                <a asp-controller="Home" asp-action="ProjectDetails" asp-route-sid="@project.atn">Projects</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>




    </div>
</div>
<!-- blog section end -->
